.footer {
  background-color: #000;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 8.5vw;
  padding-right: 8.5vw;
}
.copywrite{
  margin-bottom: -30px;
  padding-top: 20px;
}
@media (max-width: 694px){
  .footer{
  padding-left:0vw;
  padding-right: 0vw;
  }
}